/* Media queries*/
$xs: "max-width:768px";
$sm: "min-width:768px";
$md: "min-width:992px";
$lg: "min-width:1200px";

/* Basic color */
$white: white;
$black: #000000a3;
$semiTransparentWhite: #ffffffc4;

/* primary color */
$primaryColor: #c91db4f0;
$primaryColorHover: #ad169b;

/* backgroundColor */
$backgroundColor: #03021a;
$backgroundColorHover: #0b0a2fde;