body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Fonts*/
$fontSizeLarg: 1.3rem;
$fontSizeRoot: rem(17);

/* Fonts weight */
$font-weight-bold: 800;
$font-weight-medium: 500;
$font-weight-sm: 400;

/* line-height */
$line-height-base: 1.5;
$line-height-heading: 1.2;
$line-height-global: 1.7;